/*
background-color:#8FA8AD;
background-color:#B3B3B3;
background-color:#A7C6CC;
background-color:#e2e2e2;
background-color:#808080;*/
*{
/* background-color:#8FA8AD;*/
/*background-color:#B3B3B3;*/
/*background-color:#A7C6CC;*/
/*background-color:#e2e2e2;*/
/*background-color:#808080;*/
}

