
body{
   background-color: #808080; 
   margin:0;
	/* background-color:#8FA8AD;*/
	/*background-color:#B3B3B3;*/
	/*background-color:#A7C6CC;*/
	/*background-color:#e2e2e2;*/
	/*background-color:#808080;*/
}
main{
	width:90%;
	margin:0 5%;
	/*display:flex;*/
}
p,h2,h1,a{
    color: #E3E2E2;
    text-decoration: none;
    font-size:1.3em;
}
.Yeet{
    /*background-color:#A7C6CC;*/
}
nav{
    display:flex;
    top:0;
    left:0;
    width:100%;
    justify-content:space-around;
    text-align:center;
    background-color:#A7C6CC;
}
nav a{
    width:10%;
    /*text-align:center;*/
}
a:hover{
	color:#A7C6CC;
	background-color: #E3E2E2;
}
button{
    display:none;
}
.box {
	border:5px solid #b3b3b3;
	/*display: flex;*/
	width:70%;
	box-sizing:content-box;
	padding:1%;
}

}rgiht{
	margin--fet3:0%
}
.left{
arrginig-rht:30%;
}
@media only screen and (max-width:1025px){
    button{
        display:fflblock
       }       nav a{
        display:none;
    }
}
  